<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>绍兴第七人民医院</title>

    <link  rel="stylesheet" type="text/css"  href="css/test2.css">
<!--    <script src="js/jquery-3.3.1.min.js"></script>-->
    <script src="js/jquery.min.js"></script>
    <script src="js/echarts.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/quota.js"></script>
</head>

<body>
<!--顶部-->
<header class="header left">
    <div class="left nav">
        <ul>
            <li class="left"><strong class="time"></strong></li>
        </ul>
    </div>
    <div class="header_center left" style="position:relative">

        <h2><strong>绍兴市第七人民医院</strong></h2>

    </div>
    <div class="right nav text_right">
        <ul>

        </ul>
    </div>

</header>
<!--内容部分-->
<div class="con left">
    <!--数据总概-->
    <div class="con_div">
        <div class="con_div_text left">
            <div class="con_div_text01 left" style="margin-top: 0px">
                <img src="images/info_7.png" class="left text01_img" />
                <div class="left text01_div">
                    <p>今日已收费人次</p>
                    <p class="YyCount"></p>
                </div>
            </div>
            <div class="con_div_text01 right" style="margin-top: 0px">
                <img src="images/info_11.png" class="left text01_img" />
                <div class="left text01_div">
                    <p>今日已取药人次</p>
                    <p class="YiQuYao"></p>
                </div>
            </div>
            <div class="con_div_text01 left" style="margin-top: 0px">

                <img src="images/info_8.png" class="left text01_img" />
                <div class="left text01_div">
                    <p >今日待收费人数</p>
                    <p class="DaiShoufei"></p>
                </div>
            </div>
            <div class="con_div_text01 right" style="margin-top: px">
                <img src="images/info_10.png" class="left text01_img" />
                <div class="left text01_div">
                    <p>今日待取药人次</p>
                    <p class="WeiQuYao"></p>
                </div>
            </div>
            <div class="con_div_text01 left">
                <img src="images/info_4.png" class="left text01_img" />
                <div class="left text01_div">
                <p>今日收费总人次</p>
                <p class="Fcount">29.33%</p>
                </div>
             </div>
            <div class="con_div_text01 right">
                <img src="images/info_5.png" class="left text01_img" />
                <div class="left text01_div">
                    <p>今日取药总人次</p>
                    <p class="Ycount">24.37%</p>
                </div>
            </div>
        </div>
        <div class="left div_any01">
            <div class="div_any_child">
                <div class="div_any_title">今日数据</div>
                <div class="con_div_text01 left">

                    <div class="left text03_div">
                        <p>门诊人次</p>
                        <p class="sky mzPeople"></p>
                    </div>
                </div>
                <div class="con_div_text01 right">

                    <div class="left text03_div">
                        <p >在院人次</p>
                        <p class="sky zyPeople"></p>
                    </div>
                </div>
                <div class="con_div_text01 left">

                    <div class="left text03_div">
                        <p >入院人次</p>
                        <p class="sky inPeople"></p>
                    </div>
                </div>
                <div class="con_div_text01 right">

                    <div class="left text03_div">
                        <p>出院人次</p>
                        <p class="sky checkPeople"></p>
                    </div>
                </div>

            </div>

        </div>
        <div class="left div_any01">
            <div class="div_any_child" style="margin-left: 160px;">
                <div class="div_any_title">一周门诊人次</div>
                <div id="lineChart1" style="width: 100%;height: 100%;display: inline-block;"></div>

            </div>
        </div>

        <div class="left div_any01">

            <div class="div_any_child01">
                <div class="div_any_title">门诊实时数据</div>
                <div class="left">


                </div>
                <div class="left">


                </div>

                <div id="lineChart2" style="width: 100%;height: 100%;display: inline-block"></div>
            </div>
        </div>
        <div class="left div_any01" style="margin-left: 60px;width:30%">

            <div class="div_any_child01">
                <div class="div_any_title" style="margin-left: 20px">门诊就诊总览</div>
                <div class="left">


                </div>
                <div class="left">


                </div>

                <div id="lineChart3" style="width: 100%;height: 100%;display: inline-block"></div>
            </div>
        </div>
        <div class="left div_any01" style="margin-left: 60px;width:30%">

            <div class="div_any_child01" >
                <div class="div_any_title">门诊明日预约情况</div>
                <div class="left">


                </div>
                <div class="left">


                </div>

                <div id="lineChart4" style="width: 100%;height: 100%;display: inline-block"></div>
            </div>
        </div>

    </div>

</div>
</body>

</html>