<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.test.api.mapper.TodayDataMapper" >

    <select id="getZyPeople" resultType="java.lang.String" >
         SELECT count(*)count FROM dbo.zy_actpatient
    </select>
    <select id="getInPeople"  parameterType="java.lang.String"  resultType="java.lang.String" >
         SELECT count(*)count FROM dbo.zy_actpatient where admiss_date
         between  (#{today}) and (#{nextDay})
    </select>
    <select id="getMzPeople" parameterType="java.lang.String" resultType="java.lang.String">
           SELECT count(*) from mz_visit where visit_date BETWEEN (#{today}) and (#{nextDay})
    </select>
    <select id="getMzCheckPeople" parameterType="java.lang.String" resultType="java.lang.String">
            SELECT count(DISTINCT patientid) FROM dbo.tbl_checkapply_mz where askdate>(#{today})  and status in('a','e')
    </select>
    <select id="getZyCheckPeople" parameterType="java.lang.String" resultType="java.lang.String">
            SELECT count(DISTINCT patientid) FROM dbo.tbl_checkapply where askdate>(#{today})   and status in('a','e')
    </select>
    <select id="getOutPeople" parameterType="java.lang.String"  resultType="java.lang.String">
        SELECT count(*)count FROM dbo.zy_inactpatient where admiss_date
         between  (#{today}) and (#{nextDay})
    </select>
</mapper>
